*{
    margin: 0;
    padding: 0;
    border:border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: hotpink;
}

#outer-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    background-color: rgb(48, 47, 47);
    height: 5rem;
    width: 25rem;
    margin-top: 0.5rem;
    border-radius: 9px;
    border: 5px solid gray;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

#outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 15rem;
    width: 60rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    border: 7px solid blue;
    background-color:rgb(5, 241, 254);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    height: 10rem;
    width: 10rem;
    background-color: blueviolet;
    margin: 3rem;
    border-radius: 50%;
    border: 5px solid rgb(255, 0, 0);
    overflow: hidden;
}

.button:hover{
    border: 5px solid black;
    opacity: 0.7;
}

.button img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#paper img{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpAAZf76P0Dk3_ViGOvt2alufsWIdRBP_fKg&s");
    background-size: cover;
}

#scissor img{
    background-image: url("https://media.istockphoto.com/id/1489778746/vector/victory-hand-vector-icon-on-a-white-background-peace-hand-emoji-illustration-isolated.jpg?s=612x612&w=0&k=20&c=5Q0MxFpZCP9Q_-xslb9myx6pgRKgK6hRmvK-KIy-V-s=");
    background-size: cover;
}

.score{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.innerScore{
    height: 5rem;
    width: 13rem;
    border-radius: 5px;
    border: 5px solid rgb(65, 1, 65);
    margin-top: 2rem;
    color: gold;
    text-align: center;
    font-size: x-large;
    background-color: darkmagenta;
}

.result{
    height: 5rem;
    width: 20rem;
    background-color: chartreuse;
    border: 6px solid rgb(19, 166, 26);
    display: flex;
    color:darkblue;
    align-items: center;
    justify-content: center;
    display: inline-block;
    border-radius: 5px;
    margin-top: 2rem;
}

#result-tag{
    text-align: center;
    margin-top: 1.2rem;
}

#result-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#reset{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#resetting{
    height: 4rem;
    width: 8rem;
    background-color:rgba(239, 32, 32, 0.633);
    color: yellow;
    border-radius: 10px;
    border: 5px solid red;
    font-size: larger;
    transition: all 0.3s ease-in-out 0s;
}

#resetting:hover{
    border: 5px solid black;
    font-size: x-large;
}